@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1{
  color: black;
  font-size: 35px;
  font-weight: bold;
  
}
h2{
  color: black;
  font-size: 20px;
  font-weight:500;
}
table,th,td {
  text-align: left;

}

table {
  width: 100%;
  
}

th, td{
  border-bottom: 1px solid rgb(1, 1, 1);
  border-left: 1px solid rgb(255, 255, 255);
  padding-top: 10px;
}
th{
  background-color: #f18241;
}
th.formVP{
  background-color: #6BA5A7;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: rgb(0, 0, 0);
  }
  body {
    color: white;
    background: black;
  }
}

  .navbar{
  background-color:rgb(255, 255, 255);
  height: 80px;
  display:flex;
  justify-content: flex-start;
  align-items:center;
  box-shadow:2px 2px 10px 3px rgba(80, 80, 80, 0.2);
  
  }
  .menu-bars{
      margin-left: 2rem;
      font-size: 2rem;
      background: none;
      cursor:pointer;
    
  }
  .menu-bars:hover{
    background-color: rgb(249, 192, 166);
    border-radius: 10px;
  }

  .nav-menu{
      background-color:rgb(255, 255, 255);
      width: 200px;
      height: 100vh;
      display: flex;
      justify-content: center;
      position: fixed;
      top:0;
      left:-100%;
      transition: 850ms;
      box-shadow:2px 2px 10px 3px rgba(80, 80, 80, 0.2);
      
  }
.nav-menu.active{
  left:0;
  transition: 350ms;
}
.nav-text{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 2px;
  list-style: none;
  height: 60px;

}
.nav-text a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid rgb(254, 109, 5);
 

  

}

.nav-text a:hover{
  background-color: rgb(249, 192, 166);
}

.nav-menu-item{
  width:100%;
}

.navbar-toggle{
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;


}
span{
  margin-left: 16px;
}
.pagina{

  padding: 50px 10px 10px 100px;
  align-items: flex-start;
  justify-content:flex-start;
  
  
}
.ventas-realizadas{
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 600px;
  align-items:baseline;
  justify-content:space-between;
 
}
.ventas-info{
  width: 80%;
  height: auto;
  margin-top: 15px;
  
}

input{
  width: 150px;
  height: 20px;
  padding: 12px 20px;
  margin:10px 10px 10px 10px ;
  box-sizing: border-box;
  background-color:#FFB375;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);
  cursor:pointer;
  
}
select{
  width: 150px;
  height: 20px;
  padding: 12px 20px;
  margin: 10px 10px 10px 10px;
  box-sizing: border-box;
  background-color:#FFB375;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);
  cursor:pointer;
  font-weight: bold;

}


.button-detalles{
  background-color:#FFB375;
  border: none;
  justify-content: center;
  border-radius: 2px;
  height: 0.7cm;
  width: 3cm;

  
}
.button-detalles:hover{
  background-color: rgb(249, 192, 166);
}
.detalles{
  justify-content: center;
  align-items: center;
  text-align: center;

}

.tr1{
  background-color: #e3e3e3;
}
.tr0{
  background-color: rgb(255, 255, 255);
}

.color-icon{
  color:rgb(255, 106, 0);
}

.ventana{
  height: 300px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 3px rgba(80, 80, 80, 0.2);
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.3 ease all;
  overflow-y: scroll;



}
.ventas.ventana{
  background: rgba(0,0,0,0.3);
}
.btn{
  font-size: 30px;
  line-height: 8px;
  position: absolute;
  right: 30px;
  top: 20px;
  text-align:right;
  color:#fb985f;
  transition: 0.3 ease all;
  cursor: pointer;
  

}

.btn:hover{
  color:rgb(3, 3, 3);
}
.button-add{
  font-size: 30px;
  line-height: 8px;
  right: 30px;
  top: 20px;
  color:#fb985f;
  transition: 0.3 ease all;
  cursor: pointer;
}
.button-add:hover{
  color:rgb(3, 3, 3);
}
.formVP{
  height: 400px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 3px rgba(80, 80, 80, 0.2);
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.3 ease all;
  overflow-y: scroll;

}
.ventana-producto{
  height: 300px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 3px rgba(80, 80, 80, 0.2);
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.3 ease all;
  

}
.formPr{
  height: 200px;
  width: 50%;
  background-color: rgb(103, 169, 230);
  box-shadow: 2px 2px 10px 3px rgba(80, 80, 80, 0.2);
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.3 ease all;
  overflow-y: scroll;

}
.producto{
  height: 200px;
  width: 350px;
  background-color: #CDF3F4;
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
}
.imagen{
  height: 180px;
  width: 90%;
  background-color: #148387;
  border-radius: 2rem;
}




